.topo{
    margin-top: 20px;
}
.bottom button {
    background-color: #50B202;
    color: white;
    padding: .5rem 0;
    border: none;
    width: 100%;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .bottom button:hover {
    background-color: #346b06;
  }