.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 68vw;
	margin: 1rem auto;
	padding-left: 2rem;
}

.content .title button {
	padding: 1rem 1.5rem;
	cursor: pointer;
	margin: .5rem;
	border-radius: 8px;
	border: 0;
	background: var(--green-500);
	color: var(--white);
	font-weight: bold;
	transition: 100ms;
}

.content .title button:hover {
	background: var(--green-300);
	scale: 1;
}

.content {
    width: 80vw;
    margin: 1rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lista {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.cardPlano {
    background: var(--white);
    border-radius: 5px;
    /* max-width: 300px; */

    box-shadow: 0 1px 10px 2px var(--gray-300);

    display: flex;
    flex-direction: column;
}

.cardPlano span {
    font-weight: bold;
}

.imgPlano {
    margin: 0;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgProduto img{
    object-fit: contain;
    width: 300px;
    height: 200px;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.imgPlano a {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: var(--white);
    border: 0;
    outline: solid 2px var(--green-500);
    color: var(--gray-500);
    margin-left: 85%;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgPlano>a {
    margin-top: .5rem;
}
.imgPlano>a+a {
    margin-top: 2rem;
}

.alterar:hover {
    color: var(--green-500);
}

.apagar:hover {
    color: var(--red-500);
}

.infoProduto {
    margin: 0;
    padding: 1rem;
    color: var(--gray-500);
    font-size: .8rem;
}

.infoProduto p {
    line-break: auto;
    margin-bottom: .2rem;
    line-height: 1.2;
}

@media screen and(max-width: 780px) {
    .content {
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
    .lista {
        width: 100vw;
    }
    .cardPlano {
        max-width: 100vw;
    }
}