
  .img{
    width: 630px;
    height: 330px;
    align-items:center !important;
    justify-content: center !important;
    justify-items: center !important;
  }
  
  .caixa{
    text-align:'center' !important;
  }

  .carousel {
    display: flex;
    align-items: center;
  }
  
  .content {
    background-image: url('https://i.imgur.com/gl3eMog.png');
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    background-size: cover;
    height: 100vh;
  }